.contenedor-one {
    background-image: url("/img/b4.jpg");   
  height: 100vh;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}

p{
  color: #8e8e8e;
}
#id{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
.navbar-brand{
  font-family: 'Ephesis', cursive;
}

  .contenedor-one-div{
    box-sizing: border-box;
    font-family: 'Ephesis', cursive;
    top: 193px;
    left: 106;
}

.contenedor-one-nuevo{
  color: #ff0779;
    position: absolute;
    top: 128px;
    left: 106px;
    
      color: #ff0779;
      font-size: 4.0em;
      font-weight: bolder;

      text-shadow: 2px 1px 15px #212121;
    
}
.contenedor-one-pelo{ 
    position: absolute;
    top: 193px;
    left: 106px;
    
      color: #ff0779;
      font-size: 4.5em;
      font-weight: bolder;
      line-height: 71px;
      letter-spacing: 9px;
      text-shadow: 2px 1px 15px #212121;
    
}
.contenedor-one-nuevo-1{
  position: absolute;
    top: 247px;
    left: 107px;
    color: #ff0779;
    font-size: 4.5em;
    font-weight: bolder;
    line-height: 71px;
    letter-spacing: 9px;
    text-shadow: 2px 1px 15px #212121;
}
.contenedor-one-puede{
  padding-top: 285px;
  padding-left:  125px;
  color: azure;
  font-size: 3.0em;
}
.sobres{
  background: #fffefefc;
  
}



.sn{
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  right: 100px;
}
.one{
  margin-left: 190px;
  
}
.one1{
  position:absolute;
      top: 800px;;
      right:250px;
      width:864px;
      margin-right: -160px;
}

[alexis=si]{
  color: blueviolet;
}
.sobre{
  text-align: center;
}
.card{
  padding: 10px;
  margin: 10px;
  margin-right: -15px;
margin-left: -15px;
  /* IMPORTANTE */
  display: inline-block;
  padding-left: 10px;
}
.sobres{
  background-color: aqua;
  padding-bottom: 50px;

}

.about-icon{
  color: #dcb704;
  font-size: 35px;
}
.card-title{
  color: #545454 ;
  font-weight: bold;
}
.card-subtitle{
  color: #545454;
  font-size:  22px;
  font-weight: bold;
}

/*section 1*/
.section-otros{
  position: relative;
}

.title{
  position: absolute;
  top: 34px;
  left: 453px;
}
.section-otros-p{
  position: absolute;
  top: 70px;
  left: 456px;
  padding-right: 330px;
  font-size: 14px;
}

.roow{
  
  top: 100px;
  -webkit-box-flex: 0px;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.card{
  border: 0px solid;

}
.section-otros-img{
  position: absolute;
  max-width: 74%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  left: 400px;
  top: -223px;
}
.i{
  position: absolute;
  color: #dcb704;
  font-size: 35px;
  top: 19px;
  left: -26px;
}

/*section blog*/
.blog{
  background-color: #ff0779;
}

/**/
.imgs{
  position: relative;
  left: 400px;
  padding-left: 1px;
  top: -14px;
}
.blogcard{
  left: 800px;
  top: -298px;
}
.color1{
  width: 45px;
  height: 49px;
  background-color: #ff0779;
  box-shadow: 0px 0px 4px #adadad;
}
.color-number{
  font-size: 37px;
  color: #fff;
  line-height: 37px;
  text-align: center;
}
.img-yelow{
  position: relative;
  top: -286px;
}
.img-pink{
  position: relative;
  top: -286px;
  left: 294px;
}
.blogcard1{
  position: absolute;
  left: 125px;
  top: 28px;
}
.color2{
  width: 45px;
  height: 49px;
  background-color: #ff0779;
  box-shadow: 0px 0px 4px #adadad;
}
.blogcard2{
  position: absolute;
  left: 170px;
  top: -10px;
  max-height: 286px;
}
.color3{
  width: 45px;
  height: 49px;
  background-color: #ff0779;
  box-shadow: 0px 0px 4px #adadad;
}
.img3{
  position: absolute;
  top: auto;
  left: 488px;
  max-width: 431px;
}

/*sobre*/
/*nosotros*/
.title-nosotros{
  position: absolute;
  top: 132px;
  left: 177px;
}
.line-nosotros{
  position: absolute;
  top: 135px;
  left: 480px;
}
.img-fluid {
  max-width: 98%;
height: auto;
position: relative;
top: 132px;
left: 58px;
}
.img-fluid-1{
  max-width: 98%;
height: auto;
position: relative;
left: 393px;
top: -268px;
}
.nosotros-p{
  position: absolute;
  left: 789px;
  top: 231px;
}
.precio{
  background-color: #fbfbfb;
}
.section-precio{
  background-color: #fafafa;
}
.titulo-precio{
  padding-left: 130px;
  padding-top: 60px;
}
.linia-precio{
  padding-left: 294px;
}
.color-precio{
  background-color: #ff0779;
}


/* contacto */
